<section class="iampersistent-last-events">
    {% if events %}
        <ul>
        {% for event in events %}
            {{ event.name }}
        {% endfor %}
        </ul>
    {% else %}
        No updated
    {% endif %}
</section>